# CORAAL

The Corpus of Regional African American Language (CORAAL) features transcriptions of conversations with African American people from different regions of the United States. From its [website](https://oraal.uoregon.edu/coraal):

*CORAAL is a long-term corpus-building project conceived of in terms of several components. The first two components of CORAAL focus on AAL in Washington DC, the nationâ€™s capital, a city with a long-standing African American majority, and the site of much early research on AAL (e.g. Fasold 1972). In April 2018, the first additional component, CORAAL:PRV, was released, making available data for 16 speakers from a rural community in central North Carolina. In October 2018, we released CORAAL:ROC, a subset of sociolinguistic interviews conducted by Sharese King as a part of her dissertation project in Rochester, NY (King 2018). In May 2020, we are pleased to release the newest component, CORAAL:ATL, a friendship network from Atlanta, as well as newly transcribed recordings from CORAAL:ROC. Together, CORAAL include data from over 150 sociolinguistic interviews from speakers born between 1891 and 2005 and over a million words of accurate time-aligned transcription of conversational speech.*

There are two subsets of interview transcripts from CORAAL in this notebook, one from speakers in the Atlanta area and the other from speakers in the Washington, D.C. area.

In [1]:
from datascience import *

In [2]:
x = Table.read_table("datasets/coraal-atl.csv")
y = Table.read_table("datasets/coraal-dca.csv")
print(x.show(5),y.show(5))

None None