# Formants

This is formant data on vowels from UC Berkeley students taking a linguistics class.

In [1]:
from datascience import *

In [2]:
table = Table.read_table("datasets/formants.csv")

In [3]:
table

ID   | Language | Gender | Height | vowel | F1   | F2   | F3
1    | English  | Female | 168    | AA    | 948  | 1099 | 2939
1    | English  | Female | 168    | AE    | 931  | 1922 | 2897
1    | English  | Female | 168    | AH    | 733  | 1348 | 2523
1    | English  | Female | 168    | EH    | 693  | 2004 | 2873
1    | English  | Female | 168    | ER    | 608  | 1784 | 1885
1    | English  | Female | 168    | EY    | 566  | 2323 | 2991
1    | English  | Female | 168    | IH    | 515  | 2250 | 3012
1    | English  | Female | 168    | IY    | 353  | 2879 | 3385
1    | English  | Female | 168    | OW    | 566  | 1134 | 2848
1    | English  | Female | 168    | UH    | 531  | 1529 | 3051
... (969 rows omitted)