# Indo-European

This is the lexicostatistics dataset from week 3.

The data we are using is from Dyen, Kruskal & Black (1992). They collected a list of 200 cross-linguistically common words from over 80 Indo-European languages and dialects. The list of terms was originally compiled by Swadesh (1952) and is often called a "Swadesh List".

In [1]:
from datascience import *

In [2]:
data = Table.read_table("datasets/ie.csv")

In [3]:
data

Feature | Language | Term
1       | Afghan   | tol
2       | Afghan   | au
3       | Afghan   | hajvan
4       | Afghan   | ira
5       | Afghan   | de   sera,ta nezde
6       | Afghan   | sa
7       | Afghan   | bad
8       | Afghan   | post
9       | Afghan   | dzeka ce,vali ce
10      | Afghan   | nas,geda,xeta
... (17390 rows omitted)